.device-display {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 650px;
  flex: none;
  border-radius: 50%;
  background: #141515;
  overflow: hidden;
}
